.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-brand {
  font-size: 22px;
}

.navbar-brand span {
  font-size: 16px;
  letter-spacing: -1px;
}

.invalid {
  color: #cf0000;
}

.alert {
  position: fixed;
  top: 25px;
  right: 25px;
  max-width: 500px;
}

h1, h2, h3, h4, h5, p {
  margin: 0px;
}

#app-root > .navbar {
  height: 60px;
}

#app-root > div.container.center-aligned {
  height: calc(100vh - 60px);
}

div.container.center-aligned {
  display: flex;
}

div.container.center-aligned > .row {
  width: 100%;
  align-self: center;
  justify-content: center;
}