@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
    String name = HttpContext.Request.Query["name"];
    var time = HttpContext.Request.Headers.AsQueryable().FirstOrDefault(h => h.Key == "time").Value;
}

<div class="text-center">
    <p>Welcome @name</p>
    <p>Current time: @time</p>
</div>
