@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form action="welcome">
        <input type="text" placeholder="Your name" name="name"/>
        <button type="submit">Enter</button>
    </form>
</div>
