@* @inject Homework_2021_03_25.Services.LocationService; *@

@{
    ViewData["Title"] = "Home Page";
    @* var locations = LocationService *@
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome, @ViewData["username"]</p>
</div>
